[submodule "webxr_api_server"]
	path = webxr_api_server
	url = https://github.com/sudhirpratapyadav/webxr_api_server.git
	branch = teleop
[submodule "mink"]
	path = mink
	url = https://github.com/kevinzakka/mink.git
